body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
}
.website-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.website-logo-studio {
  color: #2e2f42;
}
.nav-header-menu {
  display: flex;
  gap: 40px;
}
.header-href-studio {
  position: relative;
  color: #404bbf;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-href-studio::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
}
.header-href {
  position: relative;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
}
.header-href:hover {
  color: #404bbf;
}
.header-href:focus {
  color: #404bbf;
}
.nav-header-address {
  font-style: normal;
}
.nav-header-address-ul {
  display: flex;
  padding: 0;
  gap: 40px;
}
.address-href {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-href:hover {
  color: #404bbf;
}
.address-href:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region Section 1 - Effective Solutions */
.section_effective_solutions {
  margin: 0 auto; /* центрує блок по горизонталі */
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section_effective_solutions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h-first {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}
.button_order_service {
  background-color: #4d5ae5;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_order_service:hover {
  background-color: #404bbf;
}
.button_order_service:focus {
  background-color: #404bbf;
}
/* #endregion Section 1 - Effective Solutions */

/* #region Section 2 - Benefits */
.section_benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section_benefits .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
}
.benefits-ul {
  display: flex;
  padding: 0px;
  gap: 24px;
}
.benefits-ul-li {
  width: calc((100% - 72px) / 4);
}
.h-second {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section_benefits .h-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section_benefits .p-section-two-three {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.field-icon-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
/* #endregion Section 2 - Benefits */

/* #region Section 3 - Our Team */
.section_our_team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.section_our_team .container {
  width: 1158px;
  margin: 0 auto;
}
.our-team-ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 24px;
}
.our-team-ul-li {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-ul-li-div {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section_our_team .h-second {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section_our_team .h-third {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section_our_team .p-section-two-three {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
/* icons */
.field-icon-our-team {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.circle-icon-our-team {
  width: 40px;
  height: 40px;
}
.icon-link-sm {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-sm:hover {
  background-color: #404bbf;
}
.icon-link-sm:focus {
  background-color: #404bbf;
}
.icons-socialmedia-benefits {
  fill: #f4f4fd;
}
/* #endregion Section 3 - Our Team */

/* #region Section 4 - Our Portfolio */
.section_our_portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section_our_portfolio .container {
  width: 1158px;
  margin: 0 auto;
}
.our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-ul-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-ul-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.picture-animation {
  position: relative;
  overflow: hidden;
}
.overlay-paragraph {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-ul-li:hover .overlay-paragraph {
  transform: translateY(0%);
}

.our-portfolio-ul-li-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background-color: #ffffff;
}
.section_our_portfolio .h-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* #endregion Section 4 - Our Portfolio */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}
.footer .container {
  width: 1158px;
  align-items: baseline;
  display: flex;
}
.webstudio-footer {
  margin-right: 120px;
}
.website-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.website-logo-footer-studio {
  color: #f4f4fd;
}
.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.social-media-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.field-icon-footer {
  display: flex;
  gap: 16px;
}
.circle-icon-footer {
  width: 40px;
  height: 40px;
}
.icon-link-sm-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-sm-footer:hover,
.icon-link-sm-footer:focus {
  background-color: #31d0aa;
}

.icons-socialmedia-footer {
  fill: #f4f4fd;
}

.social-media-footer {
  margin-right: 80px;
}

.email-form {
  display: flex;
  gap: 24px;
}

.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.form-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  border: none;
}

.icons-subscribe-footer {
  margin-left: 16px;
  fill: #f4f4fd;
}

/* #endregion Footer */

/* #region Modal-Fenster */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-fenster {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.kreuz-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kreuz-button:hover,
.kreuz-button:focus {
  background-color: #404bbf;
  border: none;
}

.kreuz-button:hover .icon-close-modal,
.kreuz-button:focus .icon-close-modal {
  fill: #ffffff;
}

.icon-close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.kreuz-button:hover,
.kreuz-button:focus .icon-close-modal:hover {
  fill: #ffffff;
}

.modalfenster-maintext {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 16px;
}

/* Modal-FORM */

.modal-form-div {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.modal-name-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.label-input-icon {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  padding-left: 38px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-input-icon:focus-within .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-div-comment {
  margin-bottom: 16px;
}

.textarea-modal {
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;

  padding: 8px 16px;

  outline: transparent;
  resize: none;
}

.textarea-modal::placeholder {
  color: #2e2f4266;
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  margin-right: 8px;
}

.modal-form-icon-check {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .modal-checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-button {
  transform: translateX(50%);
  display: block;
  min-width: 169px;
  height: 56px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  cursor: pointer;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy_policy {
  color: #4d5ae5;
}

/* #endregion Modal-Fenster */
